/* Custom Styles */

.reveal header h1 {
    font-size: 60%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin: 0 0 10px;
}

.reveal h2, .reveal h3, .reveal h4 {
    text-transform: initial;
}

body {
    background-color: #38414d;
}

.reveal .invisible {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.reveal img {
    width: 60%;
}

.flex-container{
    display: flex;
}

.col{
    flex: 1;
}