/* Custom Styles */

body {
    background-color: #38414d;
    text-shadow: black -3px 3px 3px;
}

.reveal h2, .reveal h3, .reveal h4 {
    text-transform: initial;
    text-shadow: black -3px 3px 3px;
}

.reveal .invisible {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.reveal #gcweb .flex-container {
    margin-top: 35px;
}

.reveal .unstyled ul {
    list-style: none;
}

.reveal .unstyled li {
    list-style: none;
    text-align: center;
}
.reveal .unstyled img {
    width: 75%;
    padding: 0;
    margin: 0;
}

.flex-container{
    display: flex;
}

.col{
    flex: 1;
}

.reveal .contact ul li {
    margin-bottom: 20px;
}

.reveal .contact li.bitly {
    font-size: 150%;
    color: yellow
}